
.pageNotFound_main-container {
    display: flex;             
    height: 90vh; 
    width:100vh; 
    background-color: #d6d7e5;  
    font-weight: 700;
    font-size: larger;
    align-items: center;
    justify-content: center;
    
}
